.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.section-heading {
	font-weight: bold;
	font-size: 120%;

}

.searchRow {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.searchField {
	padding: 1px;
	margin: 0;
	width: 15em;
	background: #57b3f1;
	border:left;
	border-style: solid;
	border-color: white;
	overflow: hidden;
}

.searchHeadings {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.heading {
	padding: 2px;
	background:#2885c4;
	padding: 1px;
	margin:0;
	overflow:hidden;
	border:left;
	border-style: solid;
	border-color: white;
}

.transfers-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
}

.transfers-col {
	padding: .3em 0.5em;
}

.col {
	padding: .4em 1.3em;
}

.color-dark {
	background: #2885c4;
}

.color-light {
	background: #57b3f1;
}

input.txt {
	border :0;
	padding: 1em;
	width: 80%;
	margin-bottom: 2em;
}

