.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.section-heading {
	font-weight: bold;
	font-size: 120%;

}

.transfers-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
}

.transfers-col {
	padding: .3em 0.5em;
}

.col {
	padding: .4em 1.3em;
}

.color-dark {
	background: #2885c4;
}

.color-light {
	background: #57b3f1;
}

input.txt {
	border :0;
	padding: 1em;
	width: 80%;
	margin-bottom: 2em;
}

input.btn {
	border: 0;
	display: block;
	padding: 1em 3em;
	background: #a5f883;
	color: #003a61;
	margin-bottom: 1em;
	cursor: pointer;
}