.container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.search-container {
	display: grid;
	grid-template-columns: 200px 85%;
}

.section-heading {
	font-weight: bold;
	font-size: 120%;

}

.results-container {
	overflow-x: scroll;
}
.searchRow {
	display: flex;
	color:black;
	font-size:90%;
	font-family:monospace;
	flex-wrap: nowrap;
	flex-direction: row;
}

.searchField1 {
	padding: 1px;
	margin: 0px;
	min-width: 9em;
	max-width: 9em;
	background: #2885c4;
	border:1px solid darkgrey;
	overflow: hidden;
}

.searchField0 {
	padding: 1px;
	margin: 0px;
	min-width: 9em;
	max-width: 9em;
	background: #57b3f1;
	border:1px solid darkgrey;
	overflow: hidden;
}

.searchHeadings {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.heading {
	font-size:90%;
	font-family:monospace;	
	text-align: center;
	background:#2885c4;
	padding: 1px;
	margin:0;
	min-width: 9em;
	max-width: 9em;
	border:1px solid darkgrey;
	overflow:hidden;
}

.transfers-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
}

.transfers-col {
	padding: .3em 0.5em;
}

.col {
	padding: .4em 1.3em;
}

.color-dark {
	background: #2885c4;
}

.color-light {
	background: #57b3f1;
}

input.txt {
	border :0;
	padding: 1em;
	width: 80%;
	margin-bottom: 2em;
}

